body {
    background-image: url("film-gold.jpg");
    min-height: 100%;

}

.btnsearch {
    margin-left: 8vw;
    margin-bottom: 10px;
}

.data {
    margin-right: 10px;
}


h1 {
    color: black;
    font-family: 'Roboto';
    font-size: 48px;
    text-align: center;
    padding-left: 10px;
    font-weight: bold;
}


h2, h3 {
    color: antiquewhite;
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: bold;
}

h4 {
    font-family: 'Georgia', serif;
    font-weight: normal;
    padding-top: 0;
}




